.left-section {
	background: linear-gradient(to bottom, #843f92, #dc2430);
	height: 768px;
	width: 20%;
}

.logo {
	text-align: center;
	color: white;
}
.logo img {
	width: 35%;
	height: 35%;
}

.logo a {
	color: white;
}

.menu-left-bar {
	margin-top:50px;
	/*margin-left: 20px;*/
	font-size: 14px;
}

.menu-left-bar ul {
	list-style-type: none;
	padding-left: 17px;
}

.menu-left-bar ul li {
	color: white;
}

.menu-left-bar ul li a {
	color: white;
}

.menu-left-bar ul li a i {
	margin-right: 20px;
	margin-bottom: 15px;
}

.footer-bar {
	margin-top: 150px;
}

.content {
	background-color: #f1f2f3;
}

.main-content {
	background-color: white;
	margin: 2% 5% 5% 5%;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #888888;
}

.create-trademark-card {
	margin-left: 15px;
	margin-top: 10px;
}

.trademark-info {
	margin-bottom: 20px;
}

.trademark-info .title-trademark {
	border-bottom: 1px solid #ddd;
	padding-bottom: 
}

.trademark-info div {
	margin-bottom: 15px;
}

.trademark-info h3 {
	color: #f94876;
}

.trademark-info input {
	border-radius: 5px;
}

.trademark-info .img-circle {
	width: 15%;
	height: 15%;
}

.user-info .title-user {
	border-bottom: 1px solid #ddd;
}

.user-info h3 {
	color: #f94876;
}

.user-info div, select {
	margin-bottom: 15px;
}

.user-info input, select {
	border-radius: 5px;
}

.user-info input {
	size: 30px;
}

.force-field {
	color: #f94876;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.button-save button {
	background-color: #f94876;
	border-radius: 5px;
}

.input-field {
	margin-left: 50px;
}

.birthday {
	color: #808080;
}

.img-logo {
	width: 150px;
	height: 150px;
	border: 1px solid #ddd;
	border-radius: 50%;
	text-align: left;
	font-size: 35px;
    text-align: center;
    /*padding-top: 4px;*/
    color: #808080;
}

.label-logo {
	text-align: left;
	padding-top: 15px;
	color: #808080;
}

.menu-bar-card span {
	margin-right: 5px;
    padding: 2px 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    /*background-color: #f94876;*/
    border-radius: 50%;
}

.upload-img {
	visibility: hidden;
}

.day {
    width: 65px;
    float: left;
    margin-right: 5px;
}

.month {
	width: 110px;
    float: left;
    margin-right: 5px;
}

.year {
	width: 83px;
    float: left;
}
<<<<<<< HEAD

.test span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #f94876;
	padding: none;
	float: left;
	margin-right: 15px;
	margin-top: 4px;
}

.test ul {
	list-style-type: none;
}

.test ul li {
	margin-bottom: 6px;
}

.test ul li a {
	color: #000;
}

.test ul li a i {
	color: #f94876;
}

.current1 {
	background-color: #f94876;
}

.table {
	margin-bottom: 0;
}

.table a {
	color: #f94876;
}

.table td {
	text-align: center;
}

.table>tbody>tr>td {
	border: none;
}

.table .level-point {
	border: 1px solid #8c8c8c;
    width: 140px;
    display: inline-block;
    height: 33px;
    margin-top: -7px;
    border-radius: 3px;
}

.table .level-point input {
	border: none;
    width: 92px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.table .level-point>div {
	width: 30px;
    float: right;
    margin-top: 6px;
    margin-right: 9px;
}

.table .level-rate {
	border: 1px solid #8c8c8c;
    width: 60px;
    display: inline-block;
    height: 33px;
    margin-top: -7px;
    border-radius: 3px;
}

.table .level-rate input {
	border: none;
    width: 25px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

.table .level-rate>div {
	width: 12px;
    float: right;
    margin-top: 6px;
    margin-right: 7px;
}

.table .btn {
	margin-top: -7px;
}

.table .btn {
	background-color: #f94876;
	color: white;
}

.table .fa-pencil {
	margin-right: 15px;
	color: #8c8c8c;
}

.table .name-level-card {
	color: #f94876;
	font-weight: bold;
}

.point-of-level {
	border-bottom: 1px solid #8c8c8c;
}

#level {
	margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#form-level h3 {
	border-bottom: 1px solid #8c8c8c;
	color: #f94876;
	font-size: 20px;
	padding-bottom: 7px;
}

#form-level .button-save {
	color: #fff;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.demo-mobile-main-content {
	background-image: url("images/demo.png");
	background-repeat: repeat-y;
}

.demo-level-mobile h3 {
	color: #f94876;
	font-size: 20px;
	border-bottom: 1px solid #8c8c8c;
	padding-bottom: 7px;
	margin-top: 79px;
}
.error{
	color:#f94876;
}

.demo-mobile-card {
	text-align: center;
}

.demo-mobile-head {
	position: relative;
    top: 69px;
    left: 128px;
    width: 227px;
    height: 124px;
    background-color: #f94876;
    text-align: center;
    padding-top: 13px;
    color: #fff;
}

.demo-mobile-head a {
	color: #fff;
}

.demo-mobile-head a::before {
	margin-left: -77px;
}

.demo-icon-trademark {
	margin-top: 22px;
}

.demo-mobile-main-content {
    position: relative;
    top: 69px;
    left: 128px;
    width: 227px;
    height: 279px;
    padding: 5px 10px;
    font-size: 10px;
}

.demo-mobile-main-content p a {
	color: #f94876;
}

.demo-mobile-main-content button {
	background-color: #f94876;
    border-color: #f94876;
    width: 100px;
    margin-left: 51px;
    color: #fff;
}

#demo-level-vvip {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px yellow;
    background-color: yellow;
    display: inline-block;
    padding-top: 10px;
    padding-left: 4px;
    color: #000;
    font-size: 10px;
    margin-left: 20px;
}

#demo-level-vip {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px #a4a7aa;
    background-color: #a4a7aa;
    display: inline-block;
    padding-top: 10px;
    padding-left: 6px;
    color: #000;
    font-size: 10px;
    margin-left: 10px;
}

#demo-level-newbie {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px 1px #8f5934;
    background-color: #8f5934;
    display: inline-block;
    padding-top: 10px;
    padding-left: 4px;
    color: #000;
    font-size: 10px;
    margin-left: 10px;
}

#chops {
	display: none;
}

.type-chops>span {
	width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #f94876;
    margin-right: 10px;
}

.type-levels>span {
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #f94876;
	margin-right: 6px;
}

.type-levels ul li>span {
	width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #f94876;
    margin-right: 10px;
}

.demo-mobile-content {
	background-image: url("../images/demo.png");
	background-repeat: no-repeat;
	margin-bottom: 20px;
	height: 550px;
	text-align: left;
}

#form-chops {
	margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#form-chops .chop-save-button {
	margin-top: 40px;
	text-align: center;
}

#form-chops .chop-save-button button {
	background-color: #f94876;
	color: #fff;
}

.step {
	margin-bottom: 40px;
}

.title-formal-card, .title-quantum-chops {
	color: #f94876;
    font-size: 20px;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 5px;
}

.formal-card .type-card {
	list-style-type: none;
}

.formal-card .type-card li {
	/*font-weight: bold;*/
	cursor: pointer;
	margin-bottom: 6px;
}

.formal-card .type-card li a {
	color: #f94876;
}

.formal-card .type-card li span {
    width: 12px;
    height: 12px;
    border: 1px solid #f94876;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.quantum-chops {
	margin-top: 40px;
	border-bottom: 1px solid #8c8c8c;
}

.quantum-chops .table .chop-input-value div {
	border: 1px solid #8c8c8c;
    height: 35px;
    width: 100px;
    padding-top: 6px;
    border-radius: 3px;
}

input:focus {
	outline: 0;
}

.quantum-chops .table .chop-input-value div input {
	border: none;
	width: 50px;
}

.quantum-chops .table .chop-input-value div input:focus {
	outline: 0;
}

.chop-create-card-button {
	margin-top: 0 !important;
}

.demo-title-chops-card {
	margin-top: 95px;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 5px;
    color: #f94876;
    font-size: 20px;
}

.demo-chops-card {
	background-color: #f1f2f3;
	padding: 48px 26px;
	border-radius: 5px;
	margin: 20px 30px 30px 30px;
}

.demo-chops-card .demo-front-chops-card {
    background: linear-gradient(to bottom right, #a03672, #853f91);
    width: auto;
    height: 185px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #fff;
}

.demo-chops-card .demo-back-chops-card {
	background: linear-gradient(to bottom right, #853f91, #a03672);
    width: auto;
    height: 185px;
    border-radius: 5px;
}

.demo-front-chops-card img {
	width: 65px;
    position: relative;
    top: -12px;
    left: 44px;
}

.demo-front-chops-card i {
	width: 65px;
    position: relative;
    top: 8px;
    left: 174px;
}

.demo-front-chops-card p {
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
    left: 217px;
    width: 107px;
}

.tick-star-1, .tick-star-2, .tick-star-3 {
	padding-top: 6px;
	padding-right: 10px;
	padding-left: 10px;
}

.tick-star-1 span, .tick-star-2 span, .tick-star-3 span {
	width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 3px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-left: 11px;
    margin-bottom: 9px;
    color: #f94876;
    float: left;
}