.left-section {
	background: linear-gradient(to bottom, #843f92, #dc2430);
	height: 768px;
	width: 20%;
}

.logo {
	text-align: center;
	color: white;
}
.logo img {
	width: 35%;
	height: 35%;
}

.logo a {
	color: white;
}

.menu-left-bar {
	margin-top:50px;
	/*margin-left: 20px;*/
	font-size: 14px;
}

.menu-left-bar ul {
	list-style-type: none;
	padding-left: 17px;
}

.menu-left-bar ul li {
	color: white;
}

.menu-left-bar ul li a {
	color: white;
}

.menu-left-bar ul li a i {
	margin-right: 20px;
	margin-bottom: 15px;
}

.footer-bar {
	margin-top: 150px;
}

.content {
	background-color: #f1f2f3;
}

.main-content {
	background-color: white;
	margin: 2% 5% 5% 5%;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #888888;
}

.create-trademark-card {
	margin-left: 15px;
	margin-top: 10px;
}

.trademark-info {
	margin-bottom: 20px;
}

.trademark-info .title-trademark {
	border-bottom: 1px solid #ddd;
	padding-bottom: 
}

.trademark-info div {
	margin-bottom: 15px;
}

.trademark-info h3 {
	color: #f94876;
}

.trademark-info input {
	border-radius: 5px;
}

.trademark-info .img-circle {
	width: 15%;
	height: 15%;
}

.user-info .title-user {
	border-bottom: 1px solid #ddd;
}

.user-info h3 {
	color: #f94876;
}

.user-info div, select {
	margin-bottom: 15px;
}

.user-info input, select {
	border-radius: 5px;
}

.user-info input {
	size: 30px;
}

.force-field {
	color: #f94876;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.button-save button {
	background-color: #f94876;
	border-radius: 5px;
}

.input-field {
	margin-left: 50px;
}

.birthday {
	color: #808080;
}

.img-logo {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	border-radius: 50%;
	text-align: left;
	font-size: 35px;
    text-align: center;
    /*padding-top: 4px;*/
    color: #808080;
}

.label-logo {
	text-align: left;
	padding-top: 15px;
	color: #808080;
}

.menu-bar-card span {
	margin-right: 5px;
    padding: 2px 5px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    /*background-color: #f94876;*/
    border-radius: 50%;
}

.upload-img {
	visibility: hidden;
}

.day {
    width: 65px;
    float: left;
    margin-right: 5px;
}

.month {
	width: 110px;
    float: left;
    margin-right: 5px;
}

.year {
	width: 83px;
    float: left;
}

.test span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #f94876;
	padding: none;
	float: left;
	margin-right: 15px;
	margin-top: 4px;
}

.test ul {
	list-style-type: none;
}

.test ul li {
	margin-bottom: 6px;
}

.test ul li a {
	color: #000;
}

.test ul li a i {
	color: #f94876;
}

.current1 {
	background-color: #f94876;
}

.table {
	margin-bottom: 0;
}

.table a {
	color: #f94876;
}

.table .input-group {
	width: 140px;
}

#rate-point {
	width: 86px;
}

.table td {
	text-align: center;
}

.table>tbody>tr>td {
	border: none;
}

.table .form-group, .table .btn {
	margin-top: -7px;
}

.table .btn {
	background-color: #f94876;
	color: white;
}

.table .fa-pencil {
	margin-right: 15px;
	color: #8c8c8c;
}

.table .name-level-card {
	color: #f94876;
	font-weight: bold;
}

.point-of-level {
	border-bottom: 1px solid #8c8c8c;
}

#form-level h3 {
	border-bottom: 1px solid #8c8c8c;
	color: #f94876;
	font-size: 20px;
	padding-bottom: 7px;
}

#form-level .button-save {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.demo-level-mobile h3 {
	color: #f94876;
	font-size: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 7px;
	margin-top: 60px;
}